<!doctype html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Calorie Calculator</title>
	
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<h1>CALORIE CALCULATOR</h1>

<body background="{{ url_for('static', filename='images/imagec.jpg') }}"> >
<div class="main">
	<form class="pure-form" method="POST" action="/">
  <b><label for="Gender">Gender</label></b>
  <select name="gender" id="Gender">
    <option value="Male">Male</option>
    <option value="Female">Female</option>  
  </select>
  <br>
  <br>
  <b>Age:</b><br>
	<input type="text" name="Age"><br><br>
	<b>Weight in kgs:</b><br>
	<input type="text" name="Weight"><br><br>
<b>	Height in cms:</b><br>
	<input type="text" name="Height"><br><br>
  <b><label for ="Activity">Select your Activity</label></b>
 <select name="activity" id="Activity">
    <option value="Outdoor Games">Outdoor Games</option>
    <option value="Running">Running</option>
    <option value="Walking">Walking</option> 
    <option value="Cardi-gym-activities">Cardi-gym-activities</option>
    <option value="Cycling">Cycling</option>
    <option value="Swimming">Swimming</option>
    <option value="Weight lifting">Weight lifting</option>
 </select><br>
 <br>
  
 <b> Duration in min:</b>
	<input type="text" name="Duration"><br><br>
  <b><label for = "Intensity">Intensity</label></b>
  <select name="intensity" id="Intensity">
    <option value="Heavy">Heavy</option>
    <option value="Moderate">Moderate</option>
    <option value="Light">Light</option>
  </select><br>
  <br>
  
	<button type="submit" class="pure-button pure-button-primary" value="Submit">Submit</button>
	</form>
</div>

<br>

<div class="main">
	{% if calorie %}
       {% print("Your Calorie burnt is {}.".format(calorie)) %}
	{% endif %}
</div>

 

</body>